<!-- Parameter:
postList - PageWrapper<Post>

pageRequest - the parameter of this search.
 -->

 <!DOCTYPE HTML>
<html lang="de-DE" xmlns:th="http://www.thymeleaf.org">
<head >
    <title th:text="#{App.Title} + ' - ' + #{post.list.title}"></title>
    <th:block th:include="/example/main::head"/>
</head>

<body>
    <div th:replace="/example/main::.navbar"></div>
    <div th:replace="/example/main::info"></div>

    <h3 th:text="#{post.list.title}">List of posts</h3>
    <a class="btn" href="/" th:href="@{/}"><i class="icon-home"></i>Home</a>
    <a class="btn" href="/" th:href="@{__#{purl.post.create}__}" th:text="#{label.action.create}">Create a new post</a>
    <div id="data">
        <span th:if="${#lists.isEmpty(postList)}" th:text="#{label.no_data_found}"></span>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th th:text="#{de.ppi.samples.fuwesta.model.Post.title}">Titel</th>
                    <th th:text="#{label.actions}">Actions</th>
                </tr>
            </thead>

            <tbody>
                <tr th:each="post : ${postList.content}">
                    <td th:text="${post.id}">1</td>
                    <td th:text="${post.title}">A post</td>
                    <td th:with="#{par.post.postid}=${post.id}">
                        <a class="btn" href="show/1" th:href="@{|__#{nurl.post.show}__|}" th:text="#{label.action.show}">Show</a>
                        <a class="btn" href="edit/1" th:href="@{|__#{nurl.post.edit}__|}" th:text="#{label.action.edit}">Update</a>
                        <a class="btn" href="partialedit/1" th:href="@{|__#{nurl.post.partialedit}__|}" th:text="#{label.action.editpartial}">Update Partial</a>
                        <a class="btn" href="delete/1" th:href="@{|__#{nurl.post.delete}__|}" th:text="#{label.action.delete}">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="pagination pagination-centered"  th:with="page=${postList}" th:include="example/templates::paginationbar" >
        <ul>
          <li >
            <a >&larr; First</a>
          </li>
          <li >
            <a title="Go to previous page">&laquo;</a>
          </li>
          <li >
            <a th:if="${not item.current}" th:href="@{${page.url}(page.page=${item.number},page.size=${page.size})}"><span >1</span></a>
          </li>
          <li class="active">
            <span >2</span>
          </li>
          <li >
            <a ><span >3</span></a>
          </li>
          <li >
            <a title="Go to next page">&raquo;</a>
          </li>
          <li >
            <a >Last &rarr;</a>
          </li>
        </ul>
    </div>

</body>
</html>
