<!-- Parameter:
post - a Post-Object

disabled - flag if the view should be editable.
url - the url for the form-action.
users - a list of selectable user
tags - a list of selectable tag
 -->
<!DOCTYPE HTML>
<html lang="de-DE" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
<meta charset="UTF-8" />
<title th:text="#{App.Title} + ' - ' + #{post.form.title}">
    SpringMVC-Sample - Form of posts</title>
<link rel="stylesheet" href="../../../../resources/css/bootstrap-ppi.css"
    th:href="@{/resources/css/bootstrap-ppi.css}" />
<link rel="stylesheet"
    href="../../../../resources/css/smoothness/jquery-ui-1.9.1.custom.css"
    th:href="@{/resources/css/smoothness/jquery-ui-1.9.1.custom.css}" />
<link rel="stylesheet"
    href="../../../../resources/css/smoothness/datetimepicker.css"
    th:href="@{/resources/css/smoothness/datetimepicker.css}" />
<script type="text/javascript"
    src="../../../../resources/js/jquery-1.8.2.js"
    th:src="@{/resources/js/jquery-1.8.2.js}"></script>
<script type="text/javascript"
    src="../../../../resources/js/jquery-ui-1.9.1.custom.js"
    th:src="@{/resources/js/jquery-ui-1.9.1.custom.js}"></script>
<script type="text/javascript"
    src="../../../../resources/js/chosen.jquery.js"
    th:src="@{/resources/js/chosen.jquery.js}"></script>
<script type="text/javascript"
    src="../../../../resources/js/jquery-ui-timepicker-addon.js"
    th:src="@{/resources/js/jquery-ui-timepicker-addon.js}"></script>
<script type="text/javascript" src="../../../../resources/js/thymelaefbs.js" th:remove="all"></script>
<script th:inline="javascript">
    $(function() {
         $('.datetimepicker').datetimepicker(
                {
                    showOn : "both",
                    buttonImage : /*[[@{/resources/css/calendar.gif}]]*/ '../../../../resources/css/calendar.gif',
                    buttonImageOnly : true,
                    dayNamesMin : [ "So", "Mo", "Di", "Mi", "Do", "Fr", "Sa" ],
                    monthNamesShort : [ "Jan", "Feb", "Mrz", "Apr", "Mai",
                            "Jun", "Jul", "Aug", "Sep", "Okt", "Nov", "Dez" ],
                    dateFormat : "dd.mm.yy",
                    changeMonth : true,
                    changeYear : true,
                    showWeek : true,
                    firstDay : 1,
                    timeFormat : 'hh:mm:ss',
                    showSecond : true,
                    hourGrid : 3,
                    minuteGrid : 10,
                    secondGrid : 10
                });
    });
</script>
</head>
<body>
    <h3 th:text="#{post.form.title}">Form of posts</h3>
    <a class="btn" href="/" th:href="@{/}"><i class="icon-home"></i>Home</a>
    <a class="btn" th:href="@{__#{url.post.list}__}">Goto list</a>
    <!--// TODO niels Das ist so nicht sinnvoll. Das result-Object wird
            // übermittelt und man muss, dann die Globalen_Fehler sich ansehen.-->
    <div class="alert alert-error" th:unless="${#lists.isEmpty(errors)}">
        <ul th:each="error: ${errors}">
            <li th:text="${error}"></li>
        </ul>
    </div>
    <form th:action="@{${url}}" class="well form-horizontal" method="post" th:object="${post}">
        <input id="id" type="hidden" th:value="*{id}" name="id"/>
        <input id="version" type="hidden" th:value="*{version}" name="version"/>

        <input type="text" bs:field="title" bs:label="#{'model.' + ${post.class.simpleName} +'.title'}" th:disabled="${disabled}"/>

        <textarea rows="4" bs:field="content" th:disabled="${disabled}"></textarea>

        <input type="text" class="datetimepicker" bs:field="creationTime"  th:disabled="${disabled}"/>

        <span  th:unless="${disabled}" th:remove="tag">
            <select bs:field="user">
                <option th:each="item : ${users}" th:value="${item.id}"
                        th:text="${item.userId} +'(' + ${item.lastName} +', '+${item.firstName} +')' "></option>
            </select>

            <select bs:field="tags" multiple="multiple">
                <option th:each="item : ${tags}" th:value="${item.id}"
                    th:text="${item.name}" th:disabled="${not item.active}">Beispielswert</option>
            </select>
        </span>
        <span th:if="${disabled}" th:remove="tag">
            <a bs:field="#{db.Post.user}" th:href="@{#{url.user.show(${post.user.id})}}"
                th:text="${post.user.userId} +'(' + ${post.user.lastName} +', '+${post.user.firstName} +')'"
                >Mustermann, Erwin</a>
            <ul bs:field="tags">
                <li th:each="item : *{tags}"  >
                    <a th:href="@{#{url.tag.show(${item.id})}}" th:text="${item.name}">Wichtig</a>
                </li>
            </ul>
        </span>

        <input name="" value="Save" type="submit" th:if="${not disabled}"/>
        <input name="" value="Reset" type="reset" th:if="${not disabled}"/>
    </form>




</body>
</html>
