<!DOCTYPE HTML>
<html lang="de-DE" xmlns:th="http://www.thymeleaf.org" xmlns:bs="http://www.ppi.de/thymeleaf/bootstrap2">
<head >
    <title th:text="#{App.Title} + ' - ' + #{login.title}"></title>
    <th:block th:include="/example/main::head"/>
</head>
<body >
    <div class="well">
    <div class="alert alert-error" th:text="#{login.failed}" th:if="${#httpServletRequest.method == 'POST'}"></div>
    <form class="form-horizontal" th:action="@{#{purl.auth.login}}" method="post">
        <input type="text" bs:name="username" th:value="${username}"/>
        <input type="password" bs:name="password" th:value="${password}"/>
        <input type="checkbox" bs:name="remember-me"  th:checked="${rememberMe}"/>
        <button type="submit" class="btn">Log in</button>
    </form>
    </div>
</body>
</html>
